<template id="garbage-collection-card-template">
  <div class="garbage-collection-card" data-entity-id="">
    <div class="garbage-card-header">
      <div class="garbage-icon-container">
        <i class="mdi mdi-trash-can"></i>
      </div>
      <div class="garbage-info">
        <div class="garbage-type">Müll</div>
        <div class="garbage-date">Datum wird geladen...</div>
      </div>
      <div class="garbage-days-until">
        <span class="days-number">-</span>
        <span class="days-label">Tage</span>
      </div>
    </div>
  </div>
</template>