<div class="lights-card">
  <details class="lights-expander" open>
    <summary class="lights-summary">
      <div class="lights-header">
        <i class="mdi mdi-lightbulb"></i>
        <span class="lights-title">Licht</span>
        <span class="lights-count">--/--</span>
      </div>
    </summary>
    <div class="lights-content">
      <div class="individual-lights-container">
        </div>
    </div>
  </details>
</div>

<template id="light-row-template">
  <div class="light-row" state="off">
    <i class="mdi mdi-lightbulb-off"></i>
    <span class="light-name">Light Name</span>
  </div>
</template>
