<div class="other-entities-card">
  <details class="other-entities-expander">
    <summary class="other-entities-summary">
      <div class="other-entities-header">
        <i class="mdi mdi-devices"></i>
        <span class="other-entities-title">Weitere Geräte</span>
        <span class="other-entities-count">--</span>
      </div>
    </summary>
    <div class="other-entities-content">
      <div class="other-entities-grid">
        <!-- Other entities will be rendered here using sensor-big-card format -->
      </div>
    </div>
  </details>
</div>