<div class="temperature-card">
    <div class="temperature-header">
        <h4>{{room_name}}</h4>
    </div>
    <div class="temperature-content">
        <div class="temperature-info">
            <div class="temperature-value">
                <span class="temperature-number">--</span>
                <span class="temperature-unit">°C</span>
            </div>
            <div class="humidity-value">
                <span class="humidity-number">--</span>
                <span class="humidity-unit">%</span>
            </div>
        </div>
        <div class="temperature-icon">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path d="M15 13V5a3 3 0 0 0-6 0v8a5 5 0 1 0 6 0zM12 4a1 1 0 0 1 1 1v8.26a3 3 0 1 1-2 0V5a1 1 0 0 1 1-1z"/>
            </svg>
        </div>
    </div>
</div>